# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/
ENV/

# .env file (contains sensitive information)
.env

# Any config json (may contain sensitive information)
*.json

# Database
static/app.db
static/*.db

# Flask
api/demos/
api/matches/
api/static/
api/templates/


# Other
*.do

# VS Code
.vscode/